{% extends "base.html" %}
{% load static %}
{% load compress %}


{% block head %}
    {% compress css %}
        <link 
            type="text/x-scss" 
            href="{% static 'auth_app/styles/login_user.scss' %}" 
            rel="stylesheet" 
            media="screen"
        >
    {% endcompress %}
{% endblock head %}

{% block body %}
    <div class="login_user_body">

        <form 
            class="login_user_form"
            action="{% url 'auth_app-user-login' %}"
            method="POST"
        >
            <div class="form_info">
                <h2>Who are you?</h2>
            </div>

            {% csrf_token %}
            {% for field in form  %}
                <div class="field_container">
                    <h3>{{ field.label }}</h3>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            {% if error_msg %}
                    <h4 class="error_msg">{{error_msg}}</h2>
            {% endif %}

            <button type="submit">Send</button>
            <a href="{% url 'auth_app-user-register' %}">I dont have account yet</a>
        </form>
    </div>
{% endblock body %}