{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DjangoBlog{% endblock title %}</title>
    {% block head %}{% endblock head %}
    {% compress css %}
        <link 
            type="text/x-scss" 
            href="{% static 'styles/base.scss' %}" 
            rel="stylesheet" 
            media="screen"
        >

        <link 
            type="text/x-scss" 
            href="{% static 'styles/global.scss' %}" 
            rel="stylesheet" 
            media="screen"
        >
    {% endcompress %}
</head>
<body>
    {% include "includes/header.html" %}

    <main>
        {% block body %}{% endblock body %}
    </main>

    {% include "includes/footer.html" %}
</body>
</html>