body {
    // Size and Position
    min-height: 100vh;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Background
    background-color: white;

    > main {
        // Flex
        flex-grow: 1;
    }
}

.main_navigation {
    // Size and Position
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // Text
    color: white;

    // Background
    background-color: #1f1f1f;

    > a {
        // Text
        text-decoration: none;
    }

    > ul {
        // Size and Position
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        align-items: center;

        // Other
        list-style: none;

        > li {
            // Text
            font-family: var(--TextFont);

            > a {
                // Text
                color: white;
                font-size: 18px;
                letter-spacing: 2px;
                text-decoration: none;

                // Other
                transition: 0.3s;

                &:hover {
                    // Text
                    color: var(--accent-500);

                    // Other
                    transition: 0.3s;
                }
            }
        }

        > a {
            // Size and Position
            padding: 12px 24px;

            // Text
            color: white;
            font-family: var(--HeaderFont);
            letter-spacing: 2px;

            // Background
            background-color: transparent;
            border: 2px solid white;

            // Other
            transition: 0.3s;
            text-decoration: none;

            &:hover {
                color: var(--accent-500);
                border-color: var(--accent-500);
                background-color: #333333;

                // Other
                transition: 0.3s;
            }
        }
    }
}

.site_logo {
    // Text
    color: white;
    font-size: 36px;
    font-family: var(--TitleFont);
    letter-spacing: 2px;
    font-weight: 400;
}

footer {
    // Size and Position
    padding: 18px 24px;

    // Text
    color: white;
    font-family: var(--TextFont);
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;

    // Background
    background-color: #1f1f1f;
}